h2  Objetivo
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
            
          span Orientar acciones para la implementación del protocolo general de bioseguridad para todas las actividades económicas, sociales y sectores de la administración pública, que minimicen los factores que pueden generar la transmisión del COVID–19. 
           




