h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Actualización del Sistemas de Gestión en Seguridad y Salud en el Trabajo (SG-SST)', 'main.html#page/actualizacion_sgsst/')
                    +navTemaItem('2', 'Vigilancia epidemiológica de trabajadores', 'main.html#page/vigilancia/')
                    +navTemaItem('3', 'Medidas de protección personal', 'main.html#page/medidas_proteccion/')
                    +navTemaItem('4', 'Servicios públicos e infraestructura', 'main.html#page/servicios_publicos/')
                    +navTemaItem('5', 'Jornadas de descanso y horas de alimentación', 'main.html#page/jornadas_descanso/')
                    +navTemaItem('6', 'Protocolos de ingreso y permanencia de clientes, provedores y contratistas', 'main.html#page/protocolo_ingreso/')
                    +navTemaItem('7', 'Plan de comunicaciones', 'main.html#page/plan_comunicaciones/')
                    