h2  Objetivo
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
            
          span Orientar las medidas generales de bioseguridad en el marco de la pandemia por el nuevo coronavirus COVID-19, para adaptar en los diferentes sectores económicos, con el fin de disminuir el riesgo de transmisión del virus de humano a humano, en el retorno y desarrollo de todas las actividades diarias.
           




