.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Aislamiento por contacto:</br>
            | Se refiere a las medidas para controlar el contacto directo cuando se produce en el traspaso de sangre o fluidos corporales, desde un paciente hacia otro individuo susceptible. El contacto puede hacerse en piel, mucosas o lesiones; así mismo por inóculos directos a torrente sanguíneo y el indirecto: se produce cuando el huésped susceptible entra en contacto con el microorganismo infectante a través de un intermediario inanimado (ropas, fómites, superficies de la habitación) o animado (personal de salud, otro paciente) que estuvo inicialmente en contacto con ese microorganismo. En este caso se utiliza bata desechable anti fluidos o traje de polietileno, este último para alto riesgo biológico.(Ministerio de Salud, 2020).
        hr
        p
            strong.mr-2 Aislamiento por gotas:</br>
            | Se refiere a las medidas para controlar las infecciones por virus respiratorios y otros agentes transmitidos por gotas (> 5 micras) impulsadas a corta distancia a través del aire y que pueden ingresar a través de los ojos, la mucosa nasal, la boca o la piel no intacta de la persona que está en contacto con el paciente. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Aislamiento respiratorio:</br>
            | Se aplica cuando se prevé la presencia de gotas de origen respiratorio con bajo rango de difusión (hasta 1 metro). (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Asepsia:</br>
            | Ausencia de microorganismos que pueden causar enfermedad. Este concepto incluye la preparación del equipo, la instrumentación y el cambio de operaciones mediante los mecanismos de esterilización y desinfección. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Bioseguridad:</br>
            | Conjunto de medidas preventivas que tienen por objeto eliminar o minimizar el factor de riesgo biológico que pueda llegar a afectar la salud, el medio ambiente o la vida de las personas, asegurando que el desarrollo o producto final de dichos procedimientos no atenten contra la salud y seguridad de los trabajadores. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Cohorte de pacientes:</br>
            | Agrupación de los pacientes que están colonizados o infectados con un mismo microorganismo, para limitar su atención a un área única y evitar el contacto con otros pacientes. Las cohortes se crean de acuerdo con la confirmación diagnóstica (clínica o microbiológica), criterios epidemiológicos y el modo de transmisión del agente infeccioso. Se prefiere evitar colocar pacientes severamente inmunodeprimidos en habitaciones con otros pacientes. Los estudios de modelado matemático soportan la fuerza de las cohortes en el control de brotes. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 COVID-19:</br>
            | Es una nueva enfermedad, causada por un nuevo coronavirus que no se había visto antes en seres humanos. El nombre de la enfermedad se escogió siguiendo las mejores prácticas establecidas por la Organización Mundial de la Salud (OMS) para asignar nombres a nuevas enfermedades infecciosas en seres humanos. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Desinfección:</br>
            | Es la destrucción de microorganismos de una superficie por medio de agentes químicos o físicos. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Desinfectante:</br>
            | Es un germicida que inactiva prácticamente todos los microorganismos patógenos reconocidos, pero no necesariamente todas las formas de vida microbiana, ejemplo esporas. Este término se aplica sólo a objetos inanimados. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Elemento de protección personal:</br>
            | Es cualquier equipo o dispositivo destinado para ser utilizado o sujetado por el trabajador, para protegerlo de uno o varios riesgos y aumentar su seguridad o su salud en el trabajo. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Mascarilla quirúrgica:</br>
            | Elemento de protección personal para la vía respiratoria que ayuda a bloquear las gotitas más grandes de partículas, derrames, aerosoles o salpicaduras, que podrían contener microbios, virus y bacterias, para que no lleguen a la nariz o la boca. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Material contaminado:</br>
            | Es aquel que ha estado en contacto con microorganismos o es sospechoso de estar contaminado. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 NIOSH:</br>
            | Instituto Nacional para la Salud y Seguridad Ocupacional de los Estados Unidos de Norteamérica. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Peligro biológico:</br>
            | Consiste en la presencia de un organismo, o la sustancia derivada de un organismo que plantea una amenaza a la salud humana. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Prestadores de servicios de salud:</br>
            | Hace referencia a las instituciones prestadoras de servicios de salud – IPS, profesionales independientes de salud, transporte asistencial de pacientes y entidades de objeto social diferente que prestan servicios de salud. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Residuo fitosanitario:</br>
            | Son todos aquellos elementos o instrumentos utilizados durante la ejecución de un procedimiento que tiene contacto con materia orgánica, sangre o fluidos corporales del usuario. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 Residuos peligrosos:</br>
            | Es cualquier objeto, material, sustancia, elemento o producto que se encuentra en estado sólido o semisólido, o es un líquido o gas contenido en recipientes o depósitos, cuyo generador descarta, rechaza o entrega porque sus propiedades no permiten usarlo nuevamente en la actividad que lo generó o porque la legislación o la normatividad vigente así lo estipula. (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 SARS:</br>
            | Síndrome respiratorio agudo severo, por sus siglas en inglés (Severe acute respiratory syndrome). (Ministerio de Salud, 2020).
        hr
        p 
            strong.mr-2 SARS-CoV-2:</br>
            | Versión acortada del nombre del nuevo coronavirus “Coronavirus 2 del Síndrome Respiratorio Agudo Grave” (identificado por primera vez en Wuhan, China) asignado por El Comité Internacional de Taxonomía de Virus, encargado de asignar nombres a los nuevos virus. (Ministerio de Salud, 2020).
        


            
            