.container#page-introduccion

    .header-ecored
        h1 1. Introducción

    .jumbotron.bg-white 
      .row
        .col-12
          h2 Información sobre el coronavirus
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4iZJAuucxac', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Información sobre coronavirus en lengua de señas - LSC  

    .jumbotron.bg-white 
      .row
        .col-12
          h2 ¿Qué es el Coronavirus?
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bNDD81GFZ2U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p ¿Qué es el coronavirus?

          .p-5(style="background-color:#ECEFFE")        
            p.mb-0 El Ministerio de Salud y Protección Social se permite informar y orientar a la población del país frente a las acciones y los cuidados que se requieren implementar en la reactivación económica,  a través de la aplicación de protocolos de bioseguridad en las empresas, en el marco de la alerta causada por el SARS-CoV-2 (COVID-19). Esto para disminuir el riesgo de transmisión del virus de humano a humano, de acuerdo con la RESOLUCIÓN 666 de 2020 y el Reglamento Sanitario Internacional- RSI por la alerta sanitaria por SARS-CoV-2 (COVID-19).