.container#page-introduccion

    .header-ecored
        h1 8. Plan de Comunicaciones

    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Las empresas deben establecer plan de comunicaciones que incluya por lo menos lo siguiente:      

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_01.svg").img-fluid
              p.card__copy Sistema de comunicación claro y oportuno con todos los trabajadores, proveedores, clientes y visitantes.

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_02.svg").img-fluid
              p.card__copy Mantener las líneas de contacto e información actualizadas a través de los medios que se dispongan en caso de cualquier emergencia (preferiblemente de manera digital).

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_03.svg").img-fluid
              p.card__copy Se deben divulgar las medidas de bioseguridad para la activación económica contenida en la Resolución 666 de 2020 u otras que apliquen a su sector económico dadas por el Ministerio de Salud y Protección Social.

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_04.svg").img-fluid
              p.card__copy Brindar mensajes continuos a todos los trabajadores y demás personal de autocuidado enfocado en tres aspectos: lavado de manos, distanciamiento social, limpieza y desinfección. 

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_05.svg").img-fluid
              p.card__copy Divulgar los protocolos de prevención de contagio de COVID-19 y de atención de casos sospechosos de contagio, en articulación con las entidades promotoras de salud- EPS y con la asesoría y asistencia técnica de las ARL.

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_06.svg").img-fluid
              p.card__copy Establecer mecanismos de información al usuario de forma visible, legible, que sean oportunos, claros y concisos, a través de sus redes sociales, carteleras, afiches o cualquier otro medio de difusión, sobre las medidas de prevención y atención.

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema-8/icon_07.svg").img-fluid
              p.card__copy Realizar charlas informativas periódicas a los trabajadores y al personal que preste sus servicios en las empresas respecto de la implementación de medidas de prevención, preferiblemente de manera virtual.  Cuando sean presenciales, estas actividades deben realizarse en grupos no mayores de cinco (5) personas y a 2 metros de distancia entre cada persona.