.container#page-introduccion

    .header-ecored
        h1 2. Vigilancia epidemiológica de trabajadores

    .jumbotron.bg-white 
      .row
        .col-12
          p En el marco del Sistema de Gestión de Seguridad y Salud en el Trabajo se implementan los protocolos de bioseguridad, centrados en la vigilancia epidemiológica, la cual incluye cuatro pasos:

        .col-12
          .header-arrow.my-5
            h3.text-center Antes de realizar la apertura de su empresa, reconozca las condiciones de salud de los trabajadores y contratistas

        .col-12
          p El primer paso corresponde a la caracterización de  la población trabajadora teniendo en cuenta factores de vulnerabilidad las cuales se pueden clasificar en 3 (edad, estado de embarazo o morbilidades que sean inmunosupresoras).

      .row.justify-content-center.align-items-center         

        .col-12.col-md-6.col-lg-3.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-2/ilust_01.svg", alt="").img-fluid
        .col-12.col-md-6.col-lg-3.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-2/ilust_02.svg", alt="").img-fluid
        .col-12.col-md-6.col-lg-3.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-2/ilust_03.svg", alt="").img-fluid
        .col-12.col-md-6.col-lg-3.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-2/ilust_04.svg", alt="").img-fluid


      .row.justify-content-center.align-items-center
        .col-12
          .header-arrow.my-5
            h3.text-center Para caracterizar la población de trabajadores, tenga en cuenta los siguientes factores de vulnerabilidad:

      .row.justify-content-center.align-items-center.my-5 

        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-2/img_02.svg", alt="").img-fluid

        .col.col-lg-5.order-2.order-md-1           
          ul           
            li.mb-3 Trasplantes de médula ósea u otros órganos
            li.mb-3 Enfermedades autoinmunes
            li.mb-3 VIH/sida
            li.mb-3 Cáncer (tratamiento en los últimos 5 años)            
            li.mb-3 Insuficiencia renal crónica 
            li.mb-3 Insuficiencia hepática crónica

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center La encuesta de caracterización de población aplicada a los trabajadores deberá incluir los siguientes ítems:

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-2/img_04.svg", alt="").img-fluid

      .jumbotron
        .row.d-flex.align-items-center          
          .col 
            p.mb-0 Recuerde conservar siempre los registros de las encuestas como soporte de las acciones realizadas.

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center El análisis de los resultados de la encuesta permitirán establecer la vulnerabilidad de los trabajadores frente al COVID-19, así:

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-2/img_05.svg", alt="").img-fluid

      .jumbotron
        .row.d-flex.align-items-center
          .col-auto
            img(src="assets/images/pages/tema-2/img_03.svg", alt="" style="width:150px;")
          .col 
            p.mb-0 Esta caracterización debe realizarse a través de la encuesta de condiciones de salud.

      .row
        .col-12
          p La caracterización de la población trabajadora, permitirá establecer la vulnerabilidad de los mismos, determinando los mecanismos para el desarrollo de las actividades productivas con criterios de vulnerabilidad, así:

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema-2/img_06.jpg", alt="").img-fluid

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema-2/info_01.svg", alt="").img-fluid

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema-2/info_02.svg", alt="").img-fluid

      .row
        .col-12
          p El tercer paso: toma de temperatura antes del ingreso a las instalaciones de la empresa. La toma de temperatura se debe realizar preferiblemente  con termómetros infrarrojos, los cuales no exigen el contacto con el trabajador, o en su defecto con termómetros digitales.

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema-2/info_03.svg", alt="").img-fluid

      .row
        .col-12
          p Tenga en cuenta las siguientes recomendaciones:
          
          ul
            li Realizar toma de temperatura antes del ingreso a las instalaciones.
            li Usar termómetros que eviten el contacto
            li  Usar termómetros calibrados
            li Aplicar protocolos de limpieza y desinfección en termómetros
          
          p al momento de realizar toma de temperatura: realizar toma de temperatura antes del ingreso a las instalaciones, usar  termómetros que eviten el contacto, usar  termómetros calibrados, aplicar protocolos de limpieza y desinfección en termómetros.

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Pasos a seguir en caso de que una persona presente síntomas compatibles con COVID-19

      .row.justify-content-center.align-items-center.my-5
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema-2/info_04.svg", alt="").img-fluid
      
      

