.container#page-introduccion

    .header-ecored
        h1 5. Jornadas de descanso y horas de alimentación

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema5_1
            h2 5.1 Planeación de turnos

        .col-12
          p La empresa debe implementar esquemas operativos que garanticen la continuidad del servicio que permitan disminuir el riesgo de contagio por COVID-19, en los trabajadores, tenga en cuenta lo siguiente:

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-5/img_01.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 Las tareas y procesos productivos deben planificarse para que los trabajadores puedan mantener la distancia de seguridad de 2 metros.
            li.mb-3 Establecer turnos de trabajo, de forma que se disminuya al mínimo el número de trabajadores presentes en el lugar de trabajo al mismo tiempo.
            li.mb-3 Permanecerán en el lugar de trabajo únicamente aquellos trabajadores cuya presencia física sea estrictamente necesaria para la producción industrial y cuya actividad no pueda realizarse a través de trabajo remoto.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_02.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 Determinar zonas de ingreso y salida al lugar de trabajo diferenciadas, con el fin de evitar cruces de personas.
            li.mb-3 Determinar el número máximo de trabajadores por turno, para personal administrativo, productivo, operativo y centros de despacho, dependiendo de las condiciones del lugar de trabajo.
            li.mb-3 Cuando se deban ejecutar tareas simultáneas por parte de varios trabajadores, se deben estudiar opciones para llevarlas a cabo (por ejemplo: utilizando equipos de trabajo que permitan estar lo suficientemente alejados).
            li.mb-3 Realizar actividades de mantenimiento e infraestructura en horarios con baja presencia de trabajadores.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_03.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 Garantizar que se cumple la distancia de seguridad en las zonas comunes comedor, aseos, vestidores, entre otros, evitando aglomeraciones en estos puntos.
            li.mb-3 Programar los turnos de descanso y/o alimentación de tal forma que garantice la distancia de seguridad entre las personas.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_04.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 Cuando se hayan establecido rotaciones de personas entre distintos puestos dentro de un mismo turno, estos se desinfectarán adecuadamente entre rotaciones.
            li.mb-3Se usarán barreras físicas cuando sea posible. Se recomienda la instalación de elementos físicos de fácil limpieza y desinfección, para favorecer la separación con los usuarios, éstos deben impedir la visibilidad.
            li.mb-3La empresa puede fomentar el uso de medios alternativos de transporte.


    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema5_2
            h2 5.2 Jornadas de descanso y horas de alimentación

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_05.svg", alt="").img-fluid

        .col-10
            li.mb-3Se Evitar tomar alimentos en zonas no diseñadas para tal fin.    

      .hr-divider.my-5    

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_06.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 Cuando la alimentación no sea suministrada por la empresa, y el trabajador deba calentar en hornos microondas, se debe disponer de paños y alcohol glicerinado para la limpieza del panel de control o designar a alguien para la manipulación de dicho equipo.  
            
            li.mb-3 Realizar limpieza y desinfección de las áreas de alimentación antes y después consumir los alimentos.
            
            li.mb-3 El personal que se encarga del suministro de alimentos debe cumplir con lineamientos de buenas prácticas de manipulación de alimentos y uso permanente de tapabocas.
            li.mb-3 Evitar manipulación de elementos de comunicación como celular, durante el tiempo de alimentación.
            li.mb-3 Una vez terminados los alimentos, colocar la bandeja con la loza en el lugar indicado para ello. 

      .hr-divider.my-5

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema-5/img_07.svg", alt="").img-fluid

        .col-10
          ul
            li.mb-3 En caso de tener que firmar planillas o pagar los alimentos, se debe disponer de alcohol glicerinado al 60% con el fin de permitir la higienización de las manos despues de realizar dicha actividad.
            p.mt-5 #[strong Para tomar los alimentos es necesario realizar el siguiente protocolo:]
            ul.mt-4
              li.mb-3 Lavar las manos con agua y jabón y secar las manos con toallas desechables o toallas de un sólo uso.
              li.mb-3 Retirar el tapabocas.
              li.mb-3 Ubicarse de acuerdo a la disposición de las mesas, conservando la distancia de seguridad de 2 metros.
              li.mb-3 Disponer las mesas con una distancia entre las mismas de 2 metros y colocar solamente el número de sillas que permita asegurar una distancia mínima entre los trabajadores de 2 metros a la hora de la alimentación, o identificar con distintivo o X aquellos puestos que no deben ser ocupados para mantener las distancias mínimas.
              li.mb-3 Al finalizar el consumo de alimentos se requiere lavar las manos con agua y jabón y utilizar nuevamente tapabocas.
              li.mb-3 Tenga en cuenta noo compartir los utensilios de comida entre trabajadores.
          
          p.mt-5 Otras medidas:
            ul.mt-4
              li.mb-3 Cuando se realice la rotación del personal, este deberá realizar limpieza y desinfección del puesto de trabajo, cada vez que inicie y finalice las actividades. 
              li.mb-3 En la medida de lo posible realice la instalación de barreras físicas que permitan la separación de los usuarios y puestos de trabajo, los cuales deben ser de fácil limpieza y desinfección. 
              li.mb-3 Fomente el uso de medios alternativos de transporte, entre los trabajadores.

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema5_3
            h2 5.3 Desplazamiento desde y hacia el lugar del trabajo

      .row.justify-content-center.align-items-center 
        .col-10.d-flex.justify-content-center.mt-3.mb-6
          img(src="assets/images/pages/tema-5/img_08.svg", alt="").img-fluid

        .col-12
          p Al realizar los desplazamientos en cualquier tipo de transporte, deberán hacer uso del tapabocas y en la medida de lo posible, utilizar guantes de nitrillo o caucho, cuando se utilice el transporte masivo, procure mantener una distancia mínima de 2 mts entre las personas y al llegar a su destino proceda a lavarse las manos.

          p Cuando el transporte sea suministrado por la empresa, se debe garantizar que el vehículo se encuentre limpio y desinfectado sobre todo en las superficies con las cuales los pasajeros van a tener contacto, tales como manijas de puertas y ventanas, cinturones de seguridad y asientos, entre otros, ubiquese en los sitios establecidos.      

      .row.justify-content-center.align-items-center 
        .col-12.mt-5
          h2 Procedimiento de limpieza y desinfección del transporte suministrado por la empresa

        .col-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-5/img_09.svg", alt="").img-fluid
        
        .col-12.bt-5
          p El procedimiento de limpieza y desinfección debe realizarse nuevamente una vez haya terminado la ruta de los trabajadores hacia el trabajo o al lugar de residencia. Durante el traslado, evitar realizar paradas no autorizadas o innecesarias.
          ol.mt-5 
            li.mb-3 Retirar del interior del vehículo aquellos elementos que puedan generar acumulación de material particulado como son: paquetes, cojines, forros de tela, protector de volante, etc.
            li.mb-3 Realizar limpieza del vehiculo, removiendo polvo suciedad con un paño limpio y humedo.
            li.mb-3 Desinfectar las superficies que tienen contacto con el conductor y pasajeros, tales como el tablero, botones, palanca de cambios, manubrio, espejos, pasamanos, hebillas del cinturón de seguridad, radios y manijas de puertas.
            li.mb-3 Cada vez que realice el proceso de limpieza y desinfección del vehículo, permita la ventilación.      