.container#page-introduccion

    .header-ecored
        h1 6. Protocolos de ingreso y permanencia de visitantes y contratistas

    .jumbotron.bg-white 
      .row
        .col-12
          h2 Protocolo de ingreso
        .col-12
          p Dentro del desarrollo normal de la producción en la industria, indiferente del sector económico se encuentra la atención a proveedores, contratistas o visitantes, por lo tanto se establecen las actividades a tener en cuenta para la promoción, prevención y mitigación del COVID-19.

          p #[strong Clasificadas en tres momentos: antes, durante y después.]


    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center Acciones a tener en cuenta #[strong ANTES]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_01.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Contactar con el personal encargado de seguridad y salud en el trabajo de la empresa contratante o  proveedora, para finiquitar los temas relacionados con la mitigación y control del COVID-19, que se permita confirmar la constancia de la validación del protocolo de bioseguridad.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_02.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Solicitar la constancia de implementación de los protocolos de bioseguridad. Capacitar sobre las medidas de bioseguridad establecidas por la empresa y acatar los lineamientos internos de bioseguridad para el ingreso y permanencia en las instalaciones.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_03.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Una vez revisada la documentación y al momento de realizarse el ingreso del personal a la empresa, se confirmará el estado de salud de la(s) persona(s), a través del registro de ingreso.
          
          p Previo al ingreso a las instalaciones se debe diligenciar la encuesta de registro ingreso por medio de la aplicación App definida para ello y su aceptación.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_04.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Comunicar si se detecta en el personal que ingresa a las instalaciones la temperatura mayor o igual a 38°C u otras sintomatologías relacionadas con COVID-19.

          p Se procede a comunicar la novedad al personal de SST de la empresa proveedora, contratista o personal familiar del visitante que ha reportado la persona, dejando constancia de ésta comunicación.

          p #[strong Registrar autodiagnóstico en CoronApp]

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_05.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Confirmar el horario de manera previa a la visita, para que ésta no interfiera con aglomeraciones de personal durante la jornada laboral de la empresa, de acuerdo a los horarios definidos para la recepción de materias primas, insumos y/o servicios.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_06.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Verificar por parte del líder de SST de la empresa; que el personal contratista y proveedor cuenta con los respectivos elementos de protección personal “EPP” acorde a los peligros a los cuales van a estar expuestos y los elementos de bioseguridad, los cuales quedarán registrados en el formato de ingreso.

         
    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center Acciones a tener en cuenta #[strong DURANTE]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_07.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Previamente al ingreso se ha diligenciado el Formato para registro de ingreso: 
          
          p Cuando llegue el personal proveedor o contratante se debe registrar la #[strong toma de temperatura y demás datos de sintomatología relacionada con COVID-19].

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_08.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Al ingreso en las instalaciones:
          ul
            li Lavado de manos.
            li Desinfección del calzado. 

          p Durante la estadía:
          ul
            li Realizar periódicamente prácticas de higiene.
            li Señalar los sitios asignados para prácticas de higiene.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_09.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Vehículos] 
          | Realizar desinfección de vehículos al ingreso de instalaciones.
          ul.mt-5
            li Los conductores deben llegar con tapabocas
            li El vehículo debe tener material antiséptico
            li Hacer limpieza y desinfección del vehículo
            li Permitir ventilación natural
            li Acatar los controles de seguridad en las porterías       

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_10.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Inducción Seguridad y Salud en el Trabajo] 
          p Una vez el personal ingresa a las instalaciones de la empresa se realizará el #[strong proceso de inducción en Seguridad y Salud en el Trabajo] con énfasis en la divulgación de protocolos para prevención y mitigación del COVID-19.       

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_11.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Seguimiento y control durante la estadía] 
          p Realizar acompañamiento al personal garantizando que se cumplan las medidas de distanciamiento, lavado de manos e higiene respiratoria.       

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_12.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Recepción/entrega de carga] 
          ul.mt-5
            li.mb-3 Evitar el contacto con otras personas, guantes, tapabocas.
            li.mb-3  Entregar documentos/insumos de carga en bolsas (preferiblemente) y guardar los recibidos en bolsa nuevamente.
            li.mb-3  Desinfectar guantes, lavado de manos después de la entrega.       

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_13.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Control residuos de las actividades realizadas] 
          
          p Realizar seguimiento y control de la disposición final de los residuos derivados de las actividades que realicen los proveedores, contratistas o visitantes en las instalaciones de la empresa.          


    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center Acciones a tener en cuenta  #[strong DESPÚES]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_14.svg", alt="").img-fluid

        .col.order-2.order-md-1  
          p #[strong Limpieza y desinfección ]    
          
          p Una vez  finalizada la visita de proveedores, contratistas y/o visitantes se debe realizar el proceso de limpieza y desinfección de áreas, máquinas y materiales que hayan entrado en contacto con el proveedor.

      .hr-divider.my-3

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_15.svg", alt="").img-fluid

        .col.order-2.order-md-1           
          p Realizar el lavado de manos antes de salir de la empresa, incluso determinar si es necesario el cambio de ropa.

      .hr-divider.my-3

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_16.svg", alt="").img-fluid

        .col.order-2.order-md-1           
          p #[strong Comunicación de caso sospechoso]

          p El personal proveedor, contratista y visitante que llegase a ser caso COVID-19 posterior a la visita en la empresa, asume bajo su responsabilidad dar aviso de manera inmediata para seguir los protocolos correspondientes.

          p.mt-5 #[strong Se realizará seguimiento y control ]

          p Al personal  que ha tenido contacto con proveedores, contratistas y visitantes de acuerdo al registro realizado en  el formato de ingreso.

          p #[strong Llamado a los 12 o 14 días a este personal – cerco epidemiológico.]

          p Trazabilidad y seguimiento a visitantes y contratistas casos o sospechosos.