.container#page-introduccion

    .header-ecored
        h1 3. Medidas de protección personal

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Lavado de manos
        .col-12
          h2 Técnica de lavado de manos agua y jabón
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/N5iWzjNWh8A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p En este video podemos ver los pasos para lavar las manos de forma segura usando jabón y siguiendo las recomendaciones de la OMS.

        .hr-divider.my-5

        .col-12
          h2 Técnica de higiene de las manos usando gel antibacterial
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b-oDmJjbdoI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Limpia tus manos con un gel a base de alcohol. Tener las manos limpias reduce la propagación de enfermedades como COVID-19.

      .row
        .col-12
          .custom-table
            .row
              .col-6
                .custom-table__title
                  p.mb-0 Responsabilidades empleador o contratante
              .col-6                
                .custom-table__title
                  p.mb-0 Responsabilidades trabajador o contratista
            .row
              .col-6      
                .custom-table__item.oddColor
                  p.mb-0 Disponer de los insumos para realizar la higiene de manos con agua limpia, jabón y toallas de un solo uso (toallas desechables).
              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Realizar lavado de manos con una duración mínima de 20 a 30 segundos.
            .row
              .col-6
                .custom-table__item
                  p.mb-0 Disponer suministros de alcohol glicerinado mínimo al 60% máximo 95%.
              .col-6           
                .custom-table__item
                  p.mb-0 Realizar el protocolo de lavado de manos con una periodicidad mínima de 3 horas.

            .row
              .col-6      
                .custom-table__item.oddColor
                  p.mb-0 Disponer de alcohol glicerinado en lugares de acceso fácil y frecuente por parte de las personas usuarias y trabajadoras de cada sector.
              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Realizar el protocolo de lavado de manos  Después de entrar en contacto con superficies que hayan podido ser contaminadas por otra persona (manijas, pasamanos, cerraduras Y transporte).
            .row
              .col-6
                .custom-table__item
                  p.mb-0 Disponer en áreas comunes y zonas de trabajo de puntos para el lavado frecuente de manos según las recomendaciones del Ministerio de Salud y Protección Social.
              .col-6           
                .custom-table__item
                  p.mb-0 Realizar el protocolo de lavado de manos después de ir al baño.
            .row
              .col-6      
                .custom-table__item.oddColor
                  p.mb-0 Establecer mecanismos de seguimiento y monitoreo y autocontrol de esta actividad en todos los sitios de trabajo.
              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Realizar el protocolo de lavado de manos después de manipular dinero.
            .row
              .col-6
                .custom-table__item
                  p.mb-0 Intensificar las acciones de información, educación y comunicación para el desarrollo de todas las actividades que eviten el contagio.
              .col-6           
                .custom-table__item
                  p.mb-0 Realizar el protocolo de lavado de manos antes y después de comer.
            .row
              .col-6      
                .custom-table__item.oddColor
                  p Disponer de las hojas de seguridad de las sustancias químicas usadas en los procesos de desinfección. 
                  p Especialmente sustancias como:
                  ul.my-5
                    li.mb-3 Hipoclorito para desinfección de  superficies en general.
                    li.mb-3 Alcohol isopropílico para desinfección de equipos energizados.
                    li.mb-3 Amonios cuaternarios para desinfección de instrumental de aluminio.
                  p.mb-0 Las cuales son suministradas por el proveedor.

              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Acatar las medidas o recomendaciones emitidas en las hojas de seguridad de las sustancias químicas usadas en los procesos de desinfección.
            .row
              .col-6
                .custom-table__item
                  p.mb-0 Definir área de almacenamiento para la ubicación de sustancias químicas usadas en los procesos de desinfección, de acuerdo a sus características de inflamabilidad, corrosión, oxidantes entre otras, permitiendo aplicar técnicas de Sistema de Almacenamiento Seguro.      
              .col-6           
                .custom-table__item
                  p.mb-0 Realizar manejo seguro de sustancias químicas en las actividades de desinfección, teniendo en cuenta el antes, durante y después del uso.
            
    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Distanciamiento físico
        .col-12
          p El distanciamiento físico significa mantener un espacio entre las personas cuando éstas se encuentran fuera de su casa. Para practicar el distanciamiento físico se requiere:
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/eoIy-yG9AV0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Por qué es importante el distanciamiento físico para evitar el contagio de COVID-19.


      .row.justify-content-center.align-items-center 
        .col-12
          .header-arrow.my-5
            h3.text-center Recomendaciones para las Empresas

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_01.svg", alt="").img-fluid

        .col-10
          p Los trabajadores deben permanecer al menos a 2 metros de distancia de otras personas y entre los puestos de trabajo evitando contacto directo. 

      .hr-divider.my-5

      .row.justify-content-center.align-items-center         

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_02.svg", alt="").img-fluid

        .col-10
          p Se debe controlar el aforo de los trabajadores y el área o recinto de trabajo.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center         

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_03.svg", alt="").img-fluid

        .col-10
          p Estas mismas condiciones deben aplicar en los sitios donde consumen los alimentos (por ejemplo: comedores, cafeterías, casinos, etc.) y en general en los sitios de descanso de los trabajadores.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center         

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_04.svg", alt="").img-fluid

        .col-10
          p No se deben permitir reuniones  grupales si no se puede  garantizar la distancia mínima  de 2 metros entre cada persona.  Aproveche las ayudas tecnológicas con el fin de evitar aglomeraciones y evite el intercambio físico de documentos de trabajo.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center         

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_05.svg", alt="").img-fluid

        .col-10
          p Además de las medidas cotidianas para prevenir el COVID-19, se deben hacer recomendaciones permanentes para mantener el distanciamiento físico tanto en el ambiente de trabajo como en todos los lugares en donde pueda tener encuentro con otras personas, es una de las mejores medidas para evitar la propagación.   

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Elementos de protección personal
        .col-12
          p Los responsables del Sistema de Gestión de Seguridad y Salud en el Trabajo de la empresa, deben definir los elementos de protección personal (EPP) indicados para la protección personal de acuerdo con la labor realizada y las acciones para la prevención del COVID-19.

      .row.mt-5
        .col-12
          .custom-table
            .row
              .col-6
                .custom-table__title
                  p.mb-0 Responsabilidades del empleador o contratante
              .col-6                
                .custom-table__title
                  p.mb-0 Responsabilidades del trabajador o contratista

            .row
              .col-6      
                .custom-table__item.oddColor
                  p.mb-0 Entregar los EPP y garantizar su disponibilidad y recambio.
              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Usar de guantes en actividades de aseo o si se van a manipular elementos como residuos, para las demás actividades se recomienda el lavado de manos con agua, jabón y toallas desechables.
            .row
              .col-6
                .custom-table__item
                  p.mb-0 Informar las recomendaciones de uso eficiente de EPP.

              .col-6           
                .custom-table__item
                  p.mb-0 Lavar y desinfectar los EPP no desechables antes de ser almacenados en un área limpia y seca y recordar que son de uso personal.

            .row
              .col-6      
                .custom-table__item.oddColor
                  p.mb-0 Instalar recipientes adecuados para el destino final de los elementos de protección personal utilizados.
              .col-6
                .custom-table__item.oddColor
                  p.mb-0 Abstenerse de usar dotación o EPP fuera de actividades laborales o compartir los EPP. 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_4
            h2 3.4 Uso de tapabocas 

        .col-12
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/uuIJCsNcUSA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p ¿Cómo y cuándo usar tapabocas?

      .row.justify-content-center.align-items-center        

        .col-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema-3/img_06.svg", alt="").img-fluid

        .col-10
          .jumbotron
            p.mb-0 Uso del tapabocas es obligatorio en el transporte público y en áreas con afluencia masiva de personas.

          .jumbotron
            a(href="media/documentos/GIPS18.pdf" target="_blank")
              .row.d-flex
                .col-auto
                  img(src="assets/images/pages/tema-3/link_icon.svg", alt="")
                .col
                  p.mb-0 #[strong LINEAMIENTOS GENERALES PARA EL USO DE TAPABOCAS CONVENCIONAL Y MÁSCARAS DE ALTA EFICIENCIA.]

          .jumbotron
            p.mb-0 Se puede usar tapabocas de tela, siempre y cuando cumplan con las indicaciones del Ministerio de Salud y Protección Social, los cuales pueden ser consultados en  

          .jumbotron
            p.mb-0 Siempre debe hacer el lavado de manos antes y después de usar el tapabocas.
