.container#page-introduccion

    .header-ecored
        h1 6. Protocolos de ingreso y permanencia de clientes, provedores y contratistas

    .jumbotron.bg-white 
      .row
        .col-12
          p Actividades para tener en cuenta en la prevención y mitigación del COVID-19 durante la atención a clientes, proveedores y contratistas.
          p Dentro del desarrollo normal de la producción en la industria, independiente de cuál sea el sector económico, se encuentra la atención a proveedores, contratistas o visitantes; por lo tanto, se establecen las actividades para tener en cuenta en la promoción, prevención y mitigación del COVID-19; clasificadas en tres momentos: antes, durante y después.

          p #[strong Clasificadas en tres momentos: antes, durante y después.]


    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center #[strong Antes]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_01.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Verificar que la empresa contratista o proveedora, conoce y aplica el protocolo de bioseguridad de la empresa contratante para mitigar y controlar el COVID-19.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_02.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Solicitar la constancia de implementación de los protocolos de bioseguridad en las instalaciones de la empresa contratante.

          p Capacitar a proveedores y contratistas sobre las medidas de bioseguridad establecidas por la empresa contratante.
          p Los proveedores y contratistas aplicarán los lineamientos internos de bioseguridad para el ingreso y permanencia en las instalaciones.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_03.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Una vez revisada la documentación al momento de realizarse el ingreso del personal a la empresa, se confirmará el estado de salud de la(s) persona(s), a través del registro de ingreso.
          p Para autorizar el ingreso a las instalaciones de la empresa, diligenciar la encuesta del estado de salud de proveedores y contratistas.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_05.svg", alt="").img-fluid

        .col.order-2.order-md-1  
          p Programar los horarios de atención a proveedores y/o contratistas, de tal forma que se eviten aglomeraciones al interior de la empresa.

          p Confirmar el horario definido para la recepción de materias primas, insumos y/o servicios.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_06.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p El líder de seguridad y salud en el trabajo debe verificar que el personal contratista y proveedor cuentan con los respectivos elementos de protección personal, propios de la ocupación, y los elementos de bioseguridad en todo momento.

         
    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center #[strong Durante]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_07.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Realizar toma de temperatura de cada uno de los proveedores, contratistas y/o clientes.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_08.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p Cuando esté autorizado a ingresar a las instalaciones:
          ul
            li Lavado o higienización de manos.
            li Desinfección del calzado. 
            li Uso de EPP, específicamente tapabocas.

          p Durante su estadía:
          ul
            li Ubique los sitios asignados para el lavado de manos y recuerde realizarlo mínimo cada 3 horas.

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_09.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Vehículos] 
          | Realizar desinfección del vehículo del proveedor o contratista cuando ingrese a las instalaciones de la empresa contratante:

          ul   
            li.mb-3  Los conductores deben llegar con tapabocas.
            li.mb-3  En el interior del vehículo se debe disponer de los insumos para realizar limpieza y desinfección.
            li.mb-3  Permitir ventilación natural.
            li.mb-3  Acatar los protocolos de bioseguridad establecidos por la empresa.


      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_10.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Inducción Seguridad y Salud en el Trabajo] 
          p Una vez el personal ingrese a las instalaciones de la empresa, se realizará el proceso de inducción en Seguridad y Salud en el Trabajo, con énfasis en la divulgación de protocolos para prevención y mitigación del COVID-19.      

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_11.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Seguimiento y control durante la estadía] 
          p El líder SyST realizará acompañamiento al personal, garantizando que se cumplan los protocolos de bioseguridad: distanciamiento físico, lavado de manos y uso EPP. 

      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_12.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Recepción/entrega de carga] 
          ul.mt-5
            li.mb-3 Evitar el contacto con otras personas.
            li.mb-3 Uso permanente de guantes y tapabocas.
            li.mb-3 La documentación relacionada con el trámite de recepción y entrega de carga, materias primas y documentos, debe ser gestionada en bolsa plástica, evitando el contacto directo.
            li.mb-3 Después de la recepción o entrega de la carga, materias primas, insumos o documentos, proceda a desinfectar los guantes y lavarse las manos.


      .hr-divider.my-3 

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_13.svg", alt="").img-fluid

        .col.order-2.order-md-1            
          p #[strong Control de residuos de las actividades realizadas] 
          
          p Realizar seguimiento y control del desecho de los residuos generados por las actividades de proveedores y contratistas en las instalaciones de la empresa.        


    .jumbotron.bg-white 
      .row
        .col-12
          .header-arrow.mb-5
            h3.text-center #[strong Después]    

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_14.svg", alt="").img-fluid

        .col.order-2.order-md-1  
          p #[strong Limpieza y desinfección ]    
          
          p Finalizada la visita de proveedores y/o contratistas, realizar el protocolo de limpieza y desinfección de áreas comunes, equipos, herramientas, máquinas y materiales con los que el personal externo a la empresa tuvo contacto.

      .hr-divider.my-3

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_15.svg", alt="").img-fluid

        .col.order-2.order-md-1           
          p Realizar el lavado de manos antes de salir de la empresa e incluso, determinar si es necesario el cambio de ropa.

      .hr-divider.my-3

      .row.justify-content-center.align-items-center.my-5 
        .col-sm-10.col-md-5.d-flex.justify-content-center.order-1.order-md-2.my-sm-5.my-md-0
          img(src="assets/images/pages/tema-6/img_16.svg", alt="").img-fluid

        .col.order-2.order-md-1           
          p #[strong Comunicación de caso sospechoso]

          p El personal proveedor, contratista o cliente que llegase a ser caso sospechoso o confirmado de COVID-19 en la empresa, debe dar aviso de manera inmediata para activar los protocolos correspondientes, determinar el cerco epidemiológico y hacer la respectiva trazabilidad, seguimiento a los mismos.