$ct-title-bg-color: #2643A2;
$ct-item-bg-color01: #F0F0F0;
$ct-item-bg-color02: #E5E5E5;

.custom-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &__title {
    padding: 1.5rem;
    background-color: $ct-title-bg-color;
    p {
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0 !important;
    }
  }
  &__item {
    padding: 1.5rem;
    height: 100%; 
    background-color: $ct-item-bg-color02;  
  }
}

.oddColor {
  background-color: $ct-item-bg-color01;
}

